body {
  margin: 0;
  font-family: sans-serif;
}

#barra {
  background-color: #1c1c1c;
  color: white;
  box-shadow: 0 2px 4px rgba(0,0,0,0.5);
  
}

.contenedor-barra {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 20px;
  background-image: url("img/fondo.jpg");
  background-size: cover;
  background-position: center;
}

#logo {
  font-size: 32px;
  font-weight: bold;
  color: #820302;
  text-shadow: 1px 1px 3px black;
}

#buscador {
  flex: 1;
  display: flex;
  justify-content: center;
  gap: 5px;
}

#buscador input {
  width: 300px;
  padding: 8px;
  border-radius: 5px 0 0 5px;
  border: none;
  outline: none;
}

#buscador button {
  padding: 8px 15px;
  background-color: #820302;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
#buscador img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}
#acciones {
  display: flex;
  gap: 10px;
}

#acciones button {
  background-color: #820302;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 20px;
  cursor: pointer;
}

#menu {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px 0;
  background-color: #111;
  
}

#menu button {
  text-shadow: 1px 1px 3px black;
  background-color: #820302;
  border: none;
  color: white;
  padding: 8px 16px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 4px;
}

#menu button:hover {
  background-color: rgb(86, 86, 86);
  color: #820302;
}
#acciones button:hover {
  background-color: rgb(86, 86, 86);
  color: #820302;
}

#cuerpo {
  justify-items: center;
  height: auto;
  background-color: #111;
  background-image: url("img/fondo.jpg");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}
.fondo-juegos {
  background-color: rgba(130, 3, 2, 0.2);
  width: 2000px;
  margin: 70px 20px;
  padding: 30px 10px;
  max-width: 1200px;
  border-radius: 15px;
  border: 2px solid #911c1c;
  display: flex;
  justify-content: center;
}

.juegos {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card-juego {
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 15px;
  padding: 10px;
  width: 250px;
  text-align: center;
  color: white;
  border: 2px solid #911c1c;
  box-shadow: 0 0 10px black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-juego img {
  width: 100%;
  height: 350px;
  object-fit: cover;
  border-radius: 10px;
}

.card-juego .info {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 15px;
  padding: 0px 10px;
  border-radius: 10px;
  width: 230px;
  text-align: left;
}

.boton-carrito {
  background-color: #820302;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 5px;
  cursor: pointer;
  display: block;
  width: 80%;
  font-weight: bold;
  transition: transform 0.3s ease;
}

h3{
  text-decoration: underline;
}
.boton-carrito:hover {
  transform: scale(1.1);
}
