body {
    margin: 0;
    font-family: sans-serif;
  }
  
  #barra {
    background-color: #1c1c1c;
    color: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    
  }
  
  .contenedor-barra {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-position: center;
  }
  
  #logo {
    font-size: 32px;
    font-weight: bold;
    color: #820302;
    text-shadow: 1px 1px 3px black;
  }
  
  #buscador {
    flex: 1;
    display: flex;
    justify-content: center;
    gap: 5px;
  }
  
  #buscador input {
    width: 300px;
    padding: 8px;
    border-radius: 5px 0 0 5px;
    border: none;
    outline: none;
  }
  
  #buscador button {
    padding: 8px 15px;
    background-color: #820302;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  #buscador img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  #acciones {
    display: flex;
    gap: 10px;
  }
  
  #acciones button {
    background-color: #820302;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  #menu {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px 0;
    background-color: #111;
    
  }
  
  #menu button {
    text-shadow: 1px 1px 3px black;
    background-color: #820302;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    font-weight: bold;
    border-radius: 4px;
  }
  
  #menu button:hover {
    background-color: rgb(86, 86, 86);
    color: #820302;
  }
  #acciones button:hover {
    background-color: rgb(86, 86, 86);
    color: #820302;
  }
  
  #cuerpo {
    justify-items: center;
    height: 1000px;
    background-color: #111;
    padding: 40px 100px;
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-position: center;
    overflow-x: hidden;
  }  
  .contenedor {
    display: flex;
    justify-content: space-around;
    background-color:  rgba(130, 3, 2, 0.4); 
    border-radius: 15px;
    padding: 20px;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .categoria {
    width: 30%;
    min-width: 250px;
  }
  
  .categoria h3 {
    border-bottom: 1px solid white;
    padding-bottom: 10px;
    margin-bottom: 15px;
    font-size: 1.2em;
    text-align: center;
  }
  
  .categoria ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
  .categoria li {
    margin-bottom: 10px;
  }
  
  .categoria a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .categoria a:hover {
    color: #ff4444;
    text-decoration: underline;
  }
  h3 {
    color: #ffffff;
  }
